@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Sumana);

body {
  background: #f6f6f6 url("../images/background.png");
  text-align: center;
  font-family: 'Sumana', serif; }

h1 {
  color: #3E3E3E;
  font-size: 52px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  padding: 300px 0 0;
  margin: 0; }

@font-face {
  font-family: 'Mono Social Icons Font';
  src: url('/type/MonoSocialIconsFont-1.10.eot');
  src: url('/type/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'), 
       url('/type/MonoSocialIconsFont-1.10.woff') format('woff'), 
       url('/type/MonoSocialIconsFont-1.10.ttf') format('truetype'), 
       url('/type/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
  src: url('/type/MonoSocialIconsFont-1.10.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a.symbol:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%;
}

.doc {
  font-size: 28px;
  margin: 0; }
  .doc a {
    color: rgba(0, 0, 0, 0.8); 
    text-decoration: none}
    .doc a:hover {
      color: #666; }

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: 1.9s; }

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}