---
title: Steve Farrelly. Product Manager
description: Steve Farelly. Product Manager at Poll Everywhere. Running Scrum at home with wife and dog.
---

.welcome
  %h1 Steve Farrelly
  .doc
    %a{:target => "_blank", :href => "https://www.linkedin.com/pub/steve-farrelly/12/821/907", :class => "symbol", :title => "circlelinkedin"}
    %a{:target => "_blank", :href => "https://twitter.com/hiitssteve", :class => "symbol", :title => "circletwitter"}
    %a{:target => "_blank", :href => "https://www.instagram.com/hiitssteve", :class => "symbol", :title => "circleinstagram"}
    %a{:target => "_blank", :href => "https://play.spotify.com/user/smfarrelly", :class => "symbol", :title => "circlespotify"}
    %a{:target => "_blank", :href => "mailto:me@stevefarrelly.com?Subject=Hi%20Steve", :class => "symbol", :title => "circleemail"}